<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Connect</servlet-name>
        <servlet-class>connection.Connect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auto_Gen_ID</servlet-name>
        <servlet-class>connection.Auto_Gen_ID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>connection.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>connection.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMyAccount</servlet-name>
        <servlet-class>connection.EditMyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>connection.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCourse</servlet-name>
        <servlet-class>connection.NewCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadItem</servlet-name>
        <servlet-class>connection.UploadItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>connection.Comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment1</servlet-name>
        <servlet-class>connection.Comment1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadItem1</servlet-name>
        <servlet-class>connection.UploadItem1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadItem2</servlet-name>
        <servlet-class>connection.UploadItem2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Discussion</servlet-name>
        <servlet-class>connection.Discussion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dcomment</servlet-name>
        <servlet-class>connection.Dcomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dcomment1</servlet-name>
        <servlet-class>connection.Dcomment1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teacher</servlet-name>
        <servlet-class>connection.Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment2</servlet-name>
        <servlet-class>connection.Comment2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dcomment2</servlet-name>
        <servlet-class>connection.Dcomment2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Document</servlet-name>
        <servlet-class>connection.Document</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cororRate</servlet-name>
        <servlet-class>connection.cororRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColorGrid</servlet-name>
        <servlet-class>connection.ColorGrid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColorGrid1</servlet-name>
        <servlet-class>connection.ColorGrid1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getServeletOtp</servlet-name>
        <servlet-class>connection.getServeletOtp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connect</servlet-name>
        <url-pattern>/connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auto_Gen_ID</servlet-name>
        <url-pattern>/auto_Gen_ID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMyAccount</servlet-name>
        <url-pattern>/editMyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCourse</servlet-name>
        <url-pattern>/newCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadItem</servlet-name>
        <url-pattern>/uploadItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment1</servlet-name>
        <url-pattern>/comment1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadItem1</servlet-name>
        <url-pattern>/uploadItem1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadItem2</servlet-name>
        <url-pattern>/uploadItem2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Discussion</servlet-name>
        <url-pattern>/discussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dcomment</servlet-name>
        <url-pattern>/dcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dcomment1</servlet-name>
        <url-pattern>/dcomment1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teacher</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment2</servlet-name>
        <url-pattern>/comment2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dcomment2</servlet-name>
        <url-pattern>/dcomment2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Document</servlet-name>
        <url-pattern>/document</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cororRate</servlet-name>
        <url-pattern>/cororRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ColorGrid</servlet-name>
        <url-pattern>/ColorGrid</url-pattern>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/forgetColorCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ColorGrid1</servlet-name>
        <url-pattern>/ColorGrid1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getServeletOtp</servlet-name>
        <url-pattern>/getServeletOtp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
